@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  &__title {
    margin: 0;
  }
}
